body {
    text-align: center;
    background-color: #ff5e5e;
}

header {
    font-family: 'Ultra', serif;
    padding-top: 40;
    padding-bottom: 40;
    background-color: #ff3737;
    color: #ff9999;
}

.btn {
    background-color: #fb0000;
}


input {
    margin: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 35%;
    background-color: #ff9999;
}

@media screen and (max-width: 500px) {
    input {
        width: 100%;
    }
}
